---
layout: compress
---

{% include base_path %}
{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="home-section" id="about">
      <div class="universal-wrapper">
        <div id="profile">
          {% if author.avatar %}
            {% if author.avatar contains "://" %}
              <img class="portrait" src="{{ author.avatar }}" alt="{{ author.name }}">
            {% else %}
              <img class="portrait" src="{{ author.avatar | prepend: '/images/' | prepend: base_path }}" alt="{{ author.name }}">
            {% endif %}
          {% endif %}

          <div class="portrait-title">
            <h2>{{ author.name }}</h2>
            {% if author.bio %}<h3>{{ author.bio }}</h3>{% endif %}
            {% if author.employer %}<h3>{{ author.employer }}</h3>{% endif %}
            {% if author.location %}<h3><i class="fa fa-map-marker" aria-hidden="true"></i> {{ author.location }}</h3>{% endif %}
          </div>

          <ul class="network-icon">
            {% if author.email %}
              <li><a href="mailto:{{ author.email }}"><i class="fas fa-envelope big-icon"></i></a></li>
            {% endif %}
            {% if author.googlescholar %}
              <li><a href="{{ author.googlescholar }}"><i class="fas fa-graduation-cap big-icon"></i></a></li>
            {% endif %}
            {% if author.pubmed %}
              <li><a href="{{ author.pubmed }}"><i class="ai ai-pubmed big-icon"></i></a></li>
            {% endif %}
            {% if author.github %}
              <li><a href="{{ author.github }}"><i class="fab fa-github big-icon"></i></a></li>
            {% endif %}
            {% if author.linkedin %}
              <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-linkedin big-icon"></i></a></li>
            {% endif %}
            {% if author.twitter %}
              <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-twitter big-icon"></i></a></li>
            {% endif %}
            {% if author.orcid %}
              <li><a href="{{ author.orcid }}"><i class="ai ai-orcid big-icon"></i></a></li>
            {% endif %}
            {% if author.researchgate %}
              <li><a href="{{ author.researchgate }}"><i class="fab fa-researchgate big-icon"></i></a></li>
            {% endif %}
          </ul>
        </div>

        <div class="about-content">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
